﻿@page "/"
@using WireGuardNonAdminHelper.Functions
@using System.Timers
@using SharedClasses
@inject IDialogService DialogService

<MudGrid Style="margin-block: 10px">
    <MudItem xs="4">
        <MudCard>
            <MudCardContent Style="margin: 3px">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Refresh">Refresh</MudButton>
                <MudList Clickable="true" Style="max-height: 55vh;overflow-y: scroll">
                    <MudListSubheader>
                        Configs
                    </MudListSubheader>
                    @foreach (var config in configs)
                    {
                        <MudListItem OnClick="@(_ => selectedConfig = config)" Value="@config" Text="@config"></MudListItem>
                    }

                </MudList>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="8">
        <MudCard>
            <MudCardContent Style="margin: 3px">
                <MudText>Selected : @selectedConfig</MudText>
                @if (!string.IsNullOrEmpty(selectedConfig))
                {
                    <MudStack Row="true" Spacing="3">
                        <MudSpacer></MudSpacer>
                        <MudCheckBox T="bool" @bind-Checked="@showBandwidth">Show Speed</MudCheckBox>
                        <MudField Label="Down Mbps">@downSpeed</MudField>
                        <MudField Label="Up Mbps">@upSpeed</MudField>
                    </MudStack>
                    <MudStack Row="true" Spacing="3" Style="margin-top: 10px">
                        @if (selectedConnected)
                        {
                            <MudIcon Icon="@Icons.Filled.NetworkCheck" Color="Color.Success"></MudIcon>
                            <MudText>Connected</MudText>
                            <MudSpacer></MudSpacer>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(_ => ChangeConnectionStatus())">Disconnect</MudButton>
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.NetworkCheck" Color="Color.Error"></MudIcon>
                            <MudText>Disconnected</MudText>
                            <MudSpacer></MudSpacer>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(_ => ChangeConnectionStatus())">Connect</MudButton>
                        }
                    </MudStack>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>


@code
{
    DialogHelperFunctions dialogHelperFunctions;
    List<string> configs = new List<string>();
    bool selectedConnected;
    private System.Timers.Timer aTimer;

    TransferredBytes _transferredBytes1;
    TransferredBytes _transferredBytes2;
    string downSpeed = "0";
    string upSpeed = "0";
    int timerInMS = 3000;

    bool showBandwidth
    {
        get { return _showBandwidth; }
        set
        {
            _showBandwidth = value;
            CalculateBandwidth(value);
        }
    }

    bool _showBandwidth = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        aTimer = new System.Timers.Timer(timerInMS);
    }

    string selectedConfig
    {
        set
        {
            _selectedConfig = value;
            showBandwidth = false;
            CheckTunnelStatus();
        }
        get { return _selectedConfig; }
    }

    string _selectedConfig;

    protected override async Task OnInitializedAsync()
    {
        dialogHelperFunctions = new DialogHelperFunctions(DialogService);
        await Refresh();
    }

    async Task Refresh()
    {
        dialogHelperFunctions.ShowProgressDialog();
        configs = await HttpFunctions.GetLocalConfigsNames();
        dialogHelperFunctions.CloseProgressDialog();
        if (configs.Count > 0)
            selectedConfig = configs[0];
        else
            selectedConfig = "";
        StateHasChanged();
    }

    async Task CheckTunnelStatus()
    {
        if (string.IsNullOrEmpty(selectedConfig))
            return;
        dialogHelperFunctions.ShowProgressDialog();
        selectedConnected = await HttpFunctions.CheckTunnelStatus(selectedConfig);
        dialogHelperFunctions.CloseProgressDialog();
        StateHasChanged();
    }

    async Task ChangeConnectionStatus()
    {
        dialogHelperFunctions.ShowProgressDialog();
        if (selectedConnected)
        {
            await HttpFunctions.DisconnectTunnel(selectedConfig);
            showBandwidth = false;
        }
        else
            await HttpFunctions.ConnectTunnel(selectedConfig);
        dialogHelperFunctions.CloseProgressDialog();
        await CheckTunnelStatus();
    }

    async Task CalculateBandwidth(bool activate)
    {
        downSpeed = "0";
        upSpeed = "0";
        aTimer.Enabled = activate;
        if (activate)
            aTimer.Elapsed += CountDownTimer;
        else
            aTimer.Elapsed -= CountDownTimer;
        _transferredBytes1 = null;
        _transferredBytes2 = null;
    }

    public async void CountDownTimer(Object source, ElapsedEventArgs e)
    {
        try
        {
            _transferredBytes2 = await HttpFunctions.GetTransferredBytes(selectedConfig);
            if (_transferredBytes1 != null)
            {
                var received = _transferredBytes2.bytesReceived - _transferredBytes1.bytesReceived;
                var sent = _transferredBytes2.bytesSent - _transferredBytes1.bytesSent;
                var timeElapsed = (_transferredBytes2.date - _transferredBytes1.date).Seconds;

                downSpeed = (received / timeElapsed / 1024 / 1204).ToString("0.00");
                upSpeed = (sent / timeElapsed / 1024 / 1204).ToString("0.00");

                Console.WriteLine($"received : {received}");
                Console.WriteLine($"sent : {sent}");

                Console.WriteLine($"downSpeed : {downSpeed}");
                Console.WriteLine($"upSpeed : {upSpeed}");

                Console.WriteLine($"timeElapsed : {timeElapsed}");
            }
            _transferredBytes1 = _transferredBytes2;
            await InvokeAsync(() => StateHasChanged());
        }
        catch (Exception err)
        {
            string functionName = System.Reflection.MethodBase.GetCurrentMethod().Name;
            Logger.Log(functionName, err.Message);
        }
    }

    public void Dispose()
    {
        aTimer.Elapsed -= CountDownTimer;
        _transferredBytes1 = null;
        _transferredBytes2 = null;
        aTimer.Enabled = false;
    }
    } 