﻿<MudDialog>
    <DialogContent>
        <MudCard>
            <MudCardContent>
                <div Style="display: flex;margin: 10px;justify-content: left;justify-items: left">
                    <p>@Message</p>
                </div>
                <div Style="display: flex;margin: 10px;justify-content: right;justify-items: right">
                    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(_=>OnClickConfirm(true))">Close</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(_=>OnClickConfirm(false))" Style="margin-left:5px">Close</MudButton>
                </div>
            </MudCardContent>
        </MudCard>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    
    [Parameter]
    public string Message { set; get; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Message))
            Message = "Are you sure ?";
    }

    void OnClickConfirm(bool confirm)
    {
        MudDialog.Close(DialogResult.Ok(confirm));
    }
}