﻿<MudDialog>
    <DialogContent>
        @if (!isError)
        {
            <h1>Info</h1>
        }
        else
        {
            <h3 style="color: red">Error</h3>
        }
        <MudCard>
            <MudCardContent>
                <div Style="display: flex;margin: 10px;justify-content: left;justify-items: left">
                    <p>@Message</p>
                    @for (int i = 0; i < MessageList?.Count; i++)
                    {
                        <p>@MessageList[i]</p>
                    }
                </div>
                <div Style="display: flex;margin: 10px;justify-content: right;justify-items: right">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Close">Close</MudButton>
                </div>
            </MudCardContent>
        </MudCard>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    
    [Parameter]
    public string Message { set; get; }

    [Parameter]
    public List<string> MessageList { set; get; }

    [Parameter]
    public bool isError { set; get; }

    void Close()
    {
        MudDialog.Close();
    }
}