﻿

<MudDialog>
    <DialogContent>
        <MudCard>
            <MudCardContent>
                <div Style="display: flex;margin: 10px;justify-content: center;justify-items: center">
                <MudProgressCircular Color="Color.Default" Indeterminate="true" />    
                </div>
            </MudCardContent>
        </MudCard>
    </DialogContent>
</MudDialog>


@code {
    
}